@import url("../page/page.css");
@import url("../page/content/content.css");
@import url("../page/header/header.css");
@import url("../page/header/__title/header__title.css");
@import url("../page/header/__subtitle/header__subtitle.css");
@import url("../page/header/__square-pic/header__square-pic.css");
@import url("../page/header/__main-illustration/header__main-illustration.css");
@import url("../page/header/logo/logo.css");
@import url("../page/header/logo/_place_header/logo_place_header.css");
@import url("../page/header/__link/header__link.css");
@import url("../page/content/description/description.css");
@import url("../page/content/description/two-colums/two-colums.css");
@import url("../page/content/description/two-colums/__brief/two-colums__brief.css");
@import url("../page/content/description/two-colums/__main-text/two-colums__main-text.css");
@import url("../page/content/description/two-colums/__paragraph/two-colums__paragraph.css");
@import url("../page/content/description/two-colums/__span-accent/two-colums__span-accent.css");
@import url("../page/content/technsique/technsique.css");
@import url("../page/content/technsique/cards/cards.css");
@import url("../page/content/technsique/cards/__description/cards__description.css");
@import url("../page/content/technsique/cards/__image/cards__image.css");
@import url("../page/content/technsique/cards/__item/cards__item.css");
@import url("../page/content/technsique/cards/__title/cards__title.css");
@import url("../page/content/video/video.css");
@import url("../page/content/video/__iframe/video__iframe.css");
@import url("../page/content/video/__iframes/video__iframes.css");
@import url("../page/content/oakley/oakley.css");
@import url("../page/content/digits/digits.css");
@import url("../page/content/section-subtitle.css");
@import url("../page/content/section-title.css");
@import url("../page/content/digits/table/table.css");
@import url("../page/content/digits/table/__cell/table__cell.css");
@import url("../page/content/digits/table/__heading/table__heading.css");
@import url("../page/content/digits/table/__text/table__text.css");
@import url("../page/content/feynman/feynman.css");
@import url("../page/content/feynman/__title/feynman__title.css");
@import url("../page/content/feynman/__subtitle/feynman__subtitle.css");
@import url("../page/content/feynman/__link/feynman__link.css");
@import url("../page/content/feynman/__images/feynman__images.css");
@import url("../page/content/khan/khan.css");
@import url("../page/content/khan/__title/khan__title.css");
@import url("../page/content/khan/__quote/khan__quote.css");
@import url("../page/content/khan/__quote-author/khan__quote-author.css");
@import url("../page/content/khan/__quote-author-subline/khan__quote-author-subline.css");
@import url("../page/content/khan/__container/khan__container.css");
@import url("../page/content/khan/__buy-link/khan__buy-link.css");
@import url("../page/content/khan/__book-pic/khan__book-pic.css");
@import url("../page/content/khan/__book-container/khan__book-container.css");
@import url("../page/content/khan/__author/khan__author.css");
@import url("../page/content/kaufman/kaufman.css");
@import url("../page/content/kaufman/section-subtitle_theme_dark.css");
@import url("../page/content/kaufman/section-title_theme_dark.css");
@import url("../page/content/kaufman/table/table_theme_dark.css");
@import url("../page/content/kaufman/table/__cell_theme_dark/table__cell_theme_dark.css");
@import url("../page/content/kaufman/table/__heading_theme_dark/table__heading_theme_dark.css");
@import url("../page/content/kaufman/table/__text_theme_dark/table__text_theme_dark.css");
@import url("../page/content/kaufman/__triangle/kaufman__triangle.css");
@import url("../page/content/resources/resources.css");
@import url("../page/content/resources/__logo/resources__logo.css");
@import url("../page/content/resources/__logo-zone/resources__logo-zone.css");
@import url("../page/footer/footer.css");
@import url("../page/footer/logo/logo_place_footer.css");
@import url("../page/footer/__social-icon/footer__social-icon.css");
@import url("../page/footer/__columns/footer__columns.css");
@import url("../page/footer/__column_content_social/footer__column_content_social.css");
@import url("../page/footer/__column_content_info/footer__column_content_info.css");
@import url("../page/footer/__column_content_copyright/footer__column_content_copyright.css");
@import url("../page/footer/__column-links/footer__column-links.css");
@import url("../page/footer/__column-link/footer__column-link.css");
@import url("../page/footer/__column-heading/footer__column-heading.css");
@import url("../page/footer/__author/footer__author.css");


<<<<<<< HEAD
=======
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.description {
  width: 80%;
  min-height: 300px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.two-colums {
  display: flex;
  justify-content: space-between;
}
>>>>>>> 75bb4fc5eb013ed1c977512e508506d289f8f95e







<<<<<<< HEAD
=======
.section-title {
  width: 60%;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin: 0 0 20px 0;
}

.section-subtitle {
  width: 60%;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  display: flex;
  justify-content: center;
  margin: 20px 0 0 0;
}
.table__cell {
  width: 250px;
  margin-top: 60px;
  list-style-type: none;
}
.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 20px;
  margin: 0 0 0 0;
}
.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 20px;
  margin: 0 0 0 0;
}
.table__text:last-child {
  padding-bottom: 0px;
}

.feynman {
  width: 100%;
  height: 790px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #f2f2f2;
  padding-top: 100px;
}
.feynman__title {
  position: relative;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  text-align: center;
  z-index: 1;
  margin: 0px 0px 0px 0px;
}

.feynman__subtitle {
  position: relative;
  width: 648px; /* Сделал такой же размер как и у заголовка, т.к размера в брифе нету и он растягивается на всю страницу.*/
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  z-index: 1;
  margin: 70px 0px 0px 0px;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #1f1f1f;
}

.feynman__images {
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 0;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.kaufman {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;
}
.section-title_theme_dark {
  width: 60%;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  color: #ffffff;
  margin: 90px 0px 20px 0px;
}

.section-subtitle_theme_dark {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  display: flex;
  justify-content: center;
  color: #ffffff;
  margin: 0 0 0 0;
}

.table_theme_dark {
  margin: 0 auto 90px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  position: relative;
  z-index: 1;
}
.table__cell_theme_dark {
  margin-top: 80px;
  width: 200px;
  list-style-type: none;
  color: white;
  margin-right: 0;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 0 0;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
  margin: 0 0 0 0;
}
.kaufman__triangle {
  position: absolute;
  top: 0px;
  right: -210px;
  background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 877px;
  height: 877px;
  z-index: 0;

}
.footer {
  display: flex;
  justify-content: center;
  min-height: 350px;
  background-color: #1f1f1f;
}

.footer__columns {
  width: 90%;
  margin-top: 60px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}
.logo_place_footer {
  height: 35px;
}
.footer__author {
  color: #ffffff;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px 0 18px 0;

}

.footer__column_content_copyright {
  flex-basis: 711px; 
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.footer__column_content_social {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.footer__column-heading {
  color: #ffffff;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 20px 0;
}

.footer__column-links {
  margin-bottom: 16px;
  list-style-type: none;
  padding: 0 0 0 0;
}
.footer__column-link {
  color: #ffffff;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  list-style-type: none;
  margin: 0 0 0 0;
}
.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}
/* и элемента с модификатором вида ключ-значение */
>>>>>>> 75bb4fc5eb013ed1c977512e508506d289f8f95e
